<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/SeriousJS/MellonMusic/assets/css/main.css">
</head>

<body>

    <!--Backbone thingies -->
    <div id="main">

    </div>

    <script type="text/template" id="OptionTemplate">
        <div class="intro-text">
            <h1 class="testzor">MATMMUSIC</h1>
            <h2>Better band recommendations based on your preferences.</h2>
        </div>

        <div class="form-centered">
            <div class="title">
                Recommendations based on:
            </div>
            <ul>
                <li id="artists">
                    <h2>artists</h2>

                    <form action="#" method="post" class="hidden" id="artist-form">
                        <input type="text" placeholder="fill in artist name" name="artistname" id="artistname">
                        <input type="submit" value=">">
                    </form>
                    
                </li>
                <li id="lastfm">
                    <h2>lastfm</h2>

                    <form action="#" method="post" class="hidden" id="lastfm-form">
                        <input type="text" placeholder="fill in account name" name="username" id="username">
                        <input type="submit" value=">">
                    </form>

                </li>
                <li id="trending">
                    <h2>trending</h2>
                </li>
            </ul>
        </div>

    </script>

    <script type="text/template" id="RecViewTemplate">
        <a href=<%= url %> target="_blank">
            <img src=<%= image[2]["#text"] %> alt="">
        </a>
        <h2><%= name %></h2>
        <!--<a href=<%= url %>>Link</a>-->
    </script>

    <script type="text/template" id="RecsViewTemplate">
        <p>Generated <%= length %> Recommendations</p>
        <ul class="rec-list">
            
        </ul>
    </script>

    <script type="text/template" id="DashboardTemplate">
        <div class="rolling">
            <img src="/SeriousJS/MellonMusic/assets/images/rolling.gif" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/SeriousJS/MellonMusic/">home</a></li>
                <li><a href=".">dashboard</a></li>
            </ul>
        </nav>

    </script>

    <script src="/SeriousJS/MellonMusic/dist/bundle.js"></script>
</body>

</html>