@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "theme.scss";
// @import "bootstrap.css";

*{
  margin:0;
  padding:0;
}
html{
  font-family: $main-font;
  color: $white;
}
html,body,#main{
  width: 100%;
  height:100%;
  background-color: $red;
  padding:0;
  margin:0;
}

.hidden{
  display:none;
}

//  ----------- Main Page STYLES -----------

.mp-container{
  width:100%;
  height:100%;
  background-color: #f80246;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/mwbg.jpg");

  .intro-text{
      color: white;
      width:400px;
      margin-right: 15%;
      
      h1{
          padding:0;
      }
      h2{
          font-weight: 400;
      }
  }

  .form-centered{
    width:400px;
    border: 2px solid #fff;
    box-shadow: 10px 15px 10px rgba(#1c1c1c, 0.10);
  }

  .title{
    padding:50px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }

  ul{
    list-style: none;
    li{
      background-color: #f4f6fd;
      padding: 20px 0 20px 0;
      text-align: center;
      color:#f80246;
      font-variant: small-caps;
      font-weight: bold;
      transition: all 0.5s ease;

      form{
        width: 100%;
        display: none;
        input[type=text]{
          height: 100%;
          max-width: 70%;
          padding:10px;
          border:none;
          text-align: center;
          font-size: 1.5rem;
        }
        input[type=submit]{
          padding:5px 15px 5px 15px;
          border-radius: 50%;
          height:100%;
          border:none;
          font-size: 1.5rem;
          background-color: #fff;
          color:#f80246;
        }
        input:focus{
          border:none;
          outline: none;
        }
      }
      h2{
        font-size: 1.8rem;
      }
    }
    li:hover,li:nth-child(even):hover{
      padding: 50px 0 50px 0;
      h2{
        // font-size: 2rem;
        cursor:pointer;
        text-decoration: underline;
      }

    }
    li:nth-child(even) {
      background-color: #fff;
    }
  }
}

nav{
  padding-bottom:50px;
   ul{
      list-style: none;
      float:left;
          li{
            font-size:25px;
            font-variant: small-caps;
            float:left;
            margin-right:25px;
            a{
              text-decoration: none;
              color: $white;
            }
          }
        }
}

#main{
  .rolling{
    position: absolute;
    top:0;
    right:0;
    padding:50px;
  }
  .rec-container{
    box-sizing: border-box;
    padding: 25px 0 25px 25px;
    background-color: $red;
    width:100%;
    float:left;
    .item-container{
      float:left;
      width: 100%;
    }
    .recommendation-item{
      padding:25px 25px 25px 0;
      width:150px;
      float:left;

      h2{
        color: #fff;
        float:left;
        font-size:16px;
        height:25px;
        margin-top:10px;
        
      }
      img{
        width:100%;
        float:left;
        // opacity: 0.9;
      }
      a{}
    }
  }
}